<h1>Listing articles</h1>

<div id='articles'>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Post</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <%= render article %>
      <% end %>
    </tbody>
  </table>
  
</div>

<br>

<%= link_to 'New Article', "#", data: {text_color: "#990022"}, class: 'hi' %>
<div id='article'>
  <%= form_for(@article, remote: true) do |f| %>
    <%= f.label 'name' %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :post_id %>
    <%= f.select :post_id, Post.all.map{ |post| [ post.title, post.id ]} %>
    <%= f.submit %>
  <% end %>
</div>
